<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.habitdiary.form.dao.UserDao">

    <resultMap id="UserMap" type="User">
        <id property="userid" column="userid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <collection property="forms" ofType="Form">
            <id property="formid" column="formid"/>
            <result property="uuid" column="uuid"/>
            <result property="formname" column="formname"/>
            <result property="formpath" column="formpath"/>
            <result property="formstatus" column="formstatus"/>
            <result property="formdesc" column="formdesc"/>
            <result property="begintime" column="begintime"/>
            <result property="endtime" column="endtime"/>
            <result property="password" column="pwd"/>
            <collection property="feedbacks" ofType="Feedback">
                <id property="feedbackid" column="feedbackid"/>
                <result property="feedbacktime" column="feedbacktime"/>
                <result property="feedbackstatus" column="feedbackstatus"/>
                <result property="rownumber" column="rownumber"/>
            </collection>
        </collection>
    </resultMap>


    <select id="selectUser" resultMap="UserMap">
        SELECT
        a.userid,a.username,a.password,a.email,b.formid,b.uuid,b.formname,b.formpath,
        b.formstatus,b.formdesc,b.begintime,b.endtime,b.password AS pwd,c.feedbackid,c.rownumber,
        c.feedbacktime,c.feedbackstatus
        FROM
        suser a LEFT JOIN sform b ON a.userid = b.userid
        LEFT JOIN sfeedback c ON b.formid = c.formid
        WHERE 1 = 1
            <if test="userid != null">
               AND a.userid = #{userid}
            </if>
            <if test="username != null">
                AND a.username = #{username}
            </if>
            <if test="email != null">
                AND a.email = #{email}
            </if>
    </select>

    <insert id="addUser">
        INSERT INTO suser(username,email,password) VALUES(#{username},#{email},#{password})
    </insert>

    <update id="changePassword">
        UPDATE suser SET password = #{newPwd} WHERE username = #{username}
    </update>

</mapper>