<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
       <!-- 配置别名包路径，下面所有类的类都将最简类名作为别名-->
        <package name="cn.habitdiary.form.entity"/>
    </typeAliases>
</configuration>