<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${form.getFormname()} + ' - 表单君'"></title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/img/figure.png}">

</head>
<body style="background-color: rgb(237, 240, 248); overflow-x: hidden; overflow-y: auto;">
<div style="width:60%;margin-bottom: 15px" class="container">
    <div style="box-shadow: 5px 5px 5px #888888;text-align: center;background-color: rgb(12,103,155);" class="row">
        <h2 style="margin-bottom:20px;font-family: 微软雅黑;font-weight: 700;color:#FFFFFF" th:text="${form.getFormname()}">表单标题</h2>
    </div>
    <div style="margin-top: 20px" class="row">
        <div style="text-align:center;font-size:20px" th:text="${form.getFormdesc()}">表单描述</div>
        <hr style="border : 1px dashed gainsboro;width: 50%;margin-bottom: 0" />
    </div>
    <div class="row" style="margin-top: 0">
        <div style="margin-top: 25px" class="col-md-6 col-md-offset-3">

            <form role="form" action="/doCollect" method="post" >
                <div style="display: none">
                    <input type="text" th:value="${form.getFormname()}" name="formname"/>
                    <input type="text" th:value="${userid}" name="userid"/>
                    <input type="text" th:value="${form.getUuid()}" name="uuid"/>
                    <input type="text" th:value="${form.getBegintime()}" id="begintime"/>
                    <input type="text" th:value="${form.getEndtime()}" id="endtime"/>
                    <input type="text" th:value="${form.getFormstatus()}" id="formstatus"/>
                    <input type="text" th:value="${form.getFormid()}" name="formid" id="formid"/>
                </div>
                <div th:each="formItem:${formDefinition.getFormItemList()}"  class="form-group">
                    <label th:text="${formItem.getItemName()}" style="font-size: 20px;font-family: 微软雅黑" th:for="${formItem.getItemName()}">表单项</label><span style="color:#DA2824">&nbsp;*</span>
                    <input   required  th:placeholder="${formItem.getItemInfo()}" name="itemValue" th:id="${formItem.getItemName()}" class="form-control" />
                </div>
                <button  style="position: relative;left: 170px;margin-top: 13px" type="submit" class="btn btn-primary btn-lg">
                    提&nbsp;&nbsp;交
                </button>
                <a style="text-decoration: none" th:href="@{/index}"><div style="margin-top: 40px;color:rgba(0,0,0,0.5);text-align: center"><img style="width: 20px;height: 20px;margin-right: 5px;margin-bottom: 5px" th:src="@{/img/figure.png}"/>由表单君提供技术支持</div></a>
            </form>
        </div>
    </div>

</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="text-align: center;" class="modal-header">
                <label style="font-weight: bold;font-family: 微软雅黑;font-size: 20px" class="modal-title" id="myModalLabel" for="pwd">表单密码</label>
            </div>
            <div style="text-align: center;font-size:20px" class="modal-body">
                <div id="group1" class="form-group">
                <input style="width: 60%;margin-left: 20%" id="pwd"
                       type="password" placeholder="请输入表单密码" class="form-control"
                       data-toggle="popover1" data-placement="right"
                       data-trigger="manual"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button"   class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3  style="text-align: center;font-weight: bold" class="modal-title" id="myModalLabe2">提示信息</h3>
            </div>
            <div id="warn"  style="text-align: center;font-size: 20px;color: black;" class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>




<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

<script>

    $("body").keydown(function() {
        if (event.keyCode == "13") {
            $('#confirm').click();
        }
    });

        $(document).ready(function () {
            if($("#formstatus").val() == '0'){
                var now = new Date().getTime();
                var begin = new Date($("#begintime").val()).getTime();
                var end = new Date($("#endtime").val()).getTime();
                if(now < begin) {
                    $("#myModa2").modal({backdrop: 'static', keyboard: true});
                    $("#warn").text("表单还未开始收集，请您耐心等待至" + $("#begintime").val());
                    $("#myModa2").modal("show");
                }else if(now <= end){
                        $("#myModal").modal({backdrop: 'static', keyboard: true});
                        $("#myModal").modal("show");
                    $("#confirm").click(function(){
                        var data = {};
                        data['password'] = $.trim($("#pwd").val());
                        data['formid'] = $.trim($("#formid").val());
                        $.ajax({
                            type:"POST",                      //请求类型
                            url: "/checkPassword",           //URL
                            contentType: "application/json; charset=utf-8",
                            data:JSON.stringify(data),   //传递的参数
                            dataType:"json",                 //返回的数据类型
                            success:function(data){          //data就是返回的json类型的数据
                                if(data['msg'] == "no"){
                                    $("[data-toggle='popover1']").attr('data-content','密码错误，请再次输入');
                                    $("#group1").addClass('has-error');
                                    $("[data-toggle='popover1']").popover('show');
                                }
                                else{
                                    $("#myModal").modal("hide");
                                }

                            },
                            error:function(data){

                            }
                        });

                    });


                }else{
                    $("#myModa2").modal({backdrop: 'static', keyboard: true});
                    $("#warn").text("您来晚了哦，表单已经停止收集");
                    $("#myModa2").modal("show");
                }
            }else {
                $("#myModa2").modal({backdrop: 'static', keyboard: true});
                $("#warn").text("表单处于暂停收集状态");
                $("#myModa2").modal("show");
            }

        })




</script>
</html>