<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>找回密码 - 表单君</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link th:href="@{css/login.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{img/figure.png}">



</head>
<body>
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div style="margin-top: 40px" class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1 style="color: #555555">找回密码</h1>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 0" class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <a th:href="@{/login}"><h4>找回密码了？去登录&nbsp;→</h4></a>
                            <a th:href="@{/index}"><img th:src="@{/img/logo.png}"/></a>
                        </div>
                    </div>
                    <div   class="form-bottom">
                        <form id="regForm" role="form" action="/findBack" method="post" class="login-form">
                            <div id="group1" class="form-group">
                                <label>用户名</label>
                                <span class="glyphicon glyphicon-user"></span><span style="color: #dd4b39">&nbsp;*</span>
                                <input required type="text" name="username" placeholder="请输入用户名"
                                       class="form-username form-control" id="form-username"
                                       data-container="body" data-toggle="popover1" data-placement="right"
                                       data-trigger="manual"
                                       data-content="用户名不能为空！">
                            </div>
                            <button id="submit"  type="button" class="btn">发送邮件找回密码</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-align: center;font-weight: bold" class="modal-title" id="myModalLabel"></h3>
            </div>
            <div style="font-size: 20px;color:black;padding-bottom: 0" id="body1" class="modal-body"></div>
            <div style="font-size: 20px;color:black;padding-top: 5px" id="body2" class="modal-body"></div>
            <div class="modal-footer">
                <button id="confirm" type="button"  data-dismiss="modal" class="btn btn-primary">我知道了</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
<script>
    $("body").keydown(function() {
        if (event.keyCode == "13") {
            $('#submit').click();
        }
    });



    $("#form-username").blur(function () { //失去焦点时开始检测
        var username = $("#form-username").val();
        if(username == null || $.trim(username) == ''){ //检测用户名是否为空
            $("[data-toggle='popover1']").attr('data-content','用户名不能为空！');
            $("#group1").addClass('has-error');
            $("[data-toggle='popover1']").popover('show');
            return false;
        }
        else{ //检测用户名是否存在
            var data = {};
            data['username'] = $.trim($("#form-username").val());
            $.ajax({
                type:"POST",                      //请求类型
                url: "/checkUser",           //URL
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(data),   //传递的参数
                dataType:"json",                 //返回的数据类型
                success:function(data){          //data就是返回的json类型的数据
                    if(data['msg'] == "no"){
                        $("[data-toggle='popover1']").popover('hide');
                        $("#group1").removeClass('has-error');
                        $("#group1").addClass('has-success');
                        return true;
                    }
                    else{
                        $("[data-toggle='popover1']").attr('data-content','该用户名不存在！');
                        $("#group1").addClass('has-error');
                        $("[data-toggle='popover1']").popover('show');
                        return false;
                    }

                },
                error:function(data){

                }
            });

        }

    })


    function checkUsername() { //失去焦点时开始检测
        var username = $("#form-username").val();
        if(username == null || $.trim(username) == ''){ //检测用户名是否为空
            $("[data-toggle='popover1']").attr('data-content','用户名不能为空！');
            $("#group1").addClass('has-error');
            $("[data-toggle='popover1']").popover('show');
            return false;
        }
        else{ //检测用户名是否存在
            var data = {};
            data['username'] = $.trim($("#form-username").val());
            $.ajax({
                type:"POST",                      //请求类型
                url: "/checkUser",           //URL
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify(data),   //传递的参数
                dataType:"json",                 //返回的数据类型
                success:function(data){          //data就是返回的json类型的数据
                    if(data['msg'] == "no"){
                        $("[data-toggle='popover1']").popover('hide');
                        $("#group1").removeClass('has-error');
                        $("#group1").addClass('has-success');
                    }
                    else{
                        $("[data-toggle='popover1']").attr('data-content','该用户名不存在！');
                        $("#group1").addClass('has-error');
                        $("[data-toggle='popover1']").popover('show');
                        return false;
                    }

                },
                error:function(data){

                }
            });

        }
        return true;

    }



    $("#submit").click(function(){
        if( checkUsername()){
            var data = {};
            data['username'] = $.trim( $("#form-username").val());
            var targetUrl = $("#regForm").attr("action");
            $.ajax({
                type: 'post',
                url: targetUrl,
                cache: false,
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (data) {
                    $('#myModal').modal({backdrop: 'static', keyboard: true});
                    $('#myModalLabel').text(data['title']);
                    $('#body1').text(data['body1']);
                    $('#body2').text(data['body2']);
                    $('#myModal').modal('show');

                },
                error: function (data) {

                }
            })
        }
    })



</script>
</html>