<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>

</head>
<body>
<div style="box-shadow: 5px 5px 5px #F0F0F0;font-size:15px;border: gainsboro solid 1px;background-color: #FFFFCC">
    <p th:text="'Hi，' + ${username}"style="margin-left: 190px;margin-top: 100px;color: #55acee"></p>
    <span style="margin-left: 220px;margin-top: 40px;margin-bottom: 40px">
             欢迎来到表单君的世界
         </span><br>
    <span style="margin-left: 220px">详情可前往&nbsp;<a style="color: #55acee" href="https://github.com/Steven1997/biaodanjun" target="_blank" >https://github.com/Steven1997/biaodanjun</a>&nbsp;了解</span>
    <p style="margin-left: 835px;margin-top: 5px;margin-bottom: 5px">From 表单君</p>
    <p style="margin-left: 640px;margin-top: 5px;margin-bottom: 5px">表单君 | 极简在线表单设计与信息采集工具</p>
    <p style="margin-left: 670px;margin-top: 5px;margin-bottom: 5px"><a style="color: #55acee" href="http://localhost:8080/index" target="_blank" >http://localhost:8080/index</a></p>
    <p th:text="${date}" style="margin-left: 745px;margin-bottom: 100px"></p>
</div>

</body>

</html>