<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录 - 表单君</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/login.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{img/figure.png}">



</head>
<body>
<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1 style="color: #555555">用户登录</h1>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 0" class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <a th:href="@{/register}"><h4>还没有账号？去注册&nbsp;→</h4></a>
                            <a th:href="@{/index}"><img th:src="@{/img/logo.png}"/></a>
                        </div>
                    </div>
                    <div  class="form-bottom">
                        <form id="logForm"role="form" action="/doLogin" method="post" class="login-form">
                            <div id="group1" class="form-group">
                                <label>用户名或邮箱</label>
                                <span class="glyphicon glyphicon-user"></span>
                                <input required type="text" name="username" placeholder="请输入登录用户名/邮箱"
                                       class="form-username form-control" id="form-username"
                                       data-container="body" data-toggle="popover1" data-placement="right"
                                       data-trigger="manual">
                            </div>
                            <div id="group2" class="form-group">
                                <label >密码</label>
                                <span class="glyphicon glyphicon-lock"></span>
                                <input required type="password" maxlength="16"
                                       name="password" placeholder="6-16位密码，区分大小写，不能用空格"
                                       class="form-password form-control" id="form-password"
                                       data-container="body" data-toggle="popover2" data-placement="right"
                                       data-trigger="manual" data-content="请输入密码！">
                            </div>
                            <span style="color: black">验证码</span>
                            <span class="glyphicon glyphicon-sunglasses"></span>
                            <div class="row">

                                <div id="group3" class="form-group col-md-9 col-md-offset-0">
                                    <input type="text" name="code" placeholder="请输入验证码"
                                           class="form-username form-control" id="form-code"
                                           data-container="body" data-toggle="popover3" data-placement="right"
                                           data-trigger="manual" data-content="请输入验证码！">
                                </div>
                                <div class="col-md-3 col-md-offset-0">
                                <img style="position: relative;top:0;margin-top:0;width: 100px;height: 50px" alt="验证码" onclick = "this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" />
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-md-3 col-md-offset-0">
                                    <input type="checkbox">
                                    <label>记住我</label>
                                </div>
                                <div class="form-group col-md-3 col-md-offset-3">
                                    <a href="#">修改密码</a>
                                </div>
                                <div class="form-group col-md-3 col-md-offset-0">
                                    <a href="#">忘记密码</a>
                                </div>
                            </div>


                            <button id="submit" type="button" class="btn">登录</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 style="text-align: center;font-weight: bold" class="modal-title" id="myModalLabel"></h4>
            </div>
            <div style="text-align: center" class="modal-body"></div>
            <!--<div class="modal-footer">
                <button id="confirm" type="button"  data-dismiss="modal" class="btn btn-primary">我知道了</button>
            </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script>

    $("#form-username").blur(function () {
            $("#group1").removeClass('has-error');
            $("[data-toggle='popover1']").popover('hide');
        }
    );

    $("#form-password").blur(function () {
            $("#group2").removeClass('has-error');
            $("[data-toggle='popover2']").popover('hide');
        }
    );

    $("#form-code").blur(function () {
            $("#group3").removeClass('has-error');
            $("[data-toggle='popover3']").popover('hide');
        }
    );
    
    function checkUsername() {
        var username = $("#form-username").val();
        if(username == null || $.trim(username) == ''){ //检测用户名是否为空
            $("[data-toggle='popover1']").attr('data-content','请输入用户名或邮箱！');
            $("#group1").addClass('has-error');
            $("[data-toggle='popover1']").popover('show');
            return false;
        }
        return true;
    }

    function checkPassword() {
        var password = $("#form-password").val();
        if(password == null || $.trim(password) == ''){
            $("#group2").addClass('has-error');
            $("[data-toggle='popover2']").popover('show');
            return false;
        }
        else{
            $("[data-toggle='popover2']").popover('hide');
        }
        return true;
    }

    function checkCode() {
        var code = $("#form-code").val();
        if(code == null || $.trim(code) == ''){
            $("#group3").addClass('has-error');
            $("[data-toggle='popover3']").attr('data-content','请输入验证码！');
            $("[data-toggle='popover3']").popover('show');
            return false;
        }
        return true;
    }

    $("#submit").click(function(){


        if( checkUsername() && checkPassword() && checkCode()){
            var data = {};
            data['username'] = $.trim( $("#form-username").val());
            data['password'] = $.trim( $("#form-password").val());
            data['code'] = $.trim( $("#form-code").val());
            var targetUrl = $("#logForm").attr("action");

            $.ajax({
                type: 'post',
                url: targetUrl,
                cache: false,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (data) {
                    $('#myModalLabel').text(data['title']);
                    $('.modal-body').text(data['content']);
                    $("#myModal").modal("show");
                    setTimeout(function(){
                        $("#myModal").modal("hide");
                        if(data['title'] == '登录成功')
                            location = "http://localhost:8080/index";
                    },1000);
                },
                error: function (data) {

                }
            })
        }
    })
</script>
</html>