<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的表单 - 表单君</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{img/figure.png}">

</head>
<body>
<nav class="navbar navbar-inverse navi navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a style="margin-left: 50px" th:href="@{/index}">首页<span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/design}">设计表单</a></li>
                <li><a th:href="@{/search}">搜索表单</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.loginUser != null}"><p>欢迎您</p></li>
                <li><p th:text="${session.loginUser?.getUsername()}"></p></li>
                <li th:if="${session.loginUser == null}"><a  th:href="@{/login}">登录</a></li>
                <li th:if="${session.loginUser == null}"><a th:href="@{/register}">注册</a></li>
                <li th:if="${session.loginUser != null}" class="dropdown">
                    <a href="#" style="margin-right: 40px" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/myform}">我的表单</a></li>
                        <li><a th:href="@{/exit}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div style="width: 60%;position: relative;left: 20%;top: 100px">
        <div style="display: none" id="pagenum" th:text="${page.getPageNum()}"></div>
        <div style="display: none" id="lastnum" th:text="${page.getLastPage()}"></div>
        <div style="display: none" id="pagesize" th:text="${page.getPageSize()}"></div>

        <h2 style="width: 50%;font-weight: bolder;position: relative;left: 43%">我的表单</h2>
        <table style="background-color: #FFFFFF;text-align: center" class="table table-hover table-bordered">
            <thead>
                <tr style="font-size: 20px;background-color: rgb(12,103,155);color: #FFFFFF">
                    <th  style="text-align: center">表单名</th>
                    <th  style="text-align: center">开始时间</th>
                    <th  style="text-align: center">结束时间</th>
                    <th  style="text-align: center">进行状态</th>
                    <th  style="text-align: center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: large" th:each="form:${formList}">
                    <td th:text="${form.getFormname()}"></td>
                    <td class="begintime" th:text="${form.getBegintime()}"></td>
                    <td class="endtime" th:text="${form.getEndtime()}"></td>
                    <td class="formstatus" th:text="${form.getFormstatus()}"></td>
                    <td class="op">
                        <a th:href="@{/changeFormStatus(formid=${form.getFormid()},nowstatus=${form.getFormstatus()},pagenum=${page.getPageNum()})}"><button></button></a>
                        <a th:href="@{/delForm(formid=${form.getFormid()},pagenum=${page.getPageNum()})}"><button class="btn btn-danger">删除</button></a>
                        <a target="_blank" th:href="@{/forminfo(formid=${form.getFormid()})}"><button class="btn btn-info">查看</button></a>
                        <a th:href="@{/downloadForm(formid=${form.getFormid()})}"><button class="btn btn-success">导出</button></a>
                    </td>
                </tr>
            </tbody>


        </table>

        <div>
            <a th:href="@{/myform(page=${page.getFirstPage()})}"><button style="margin-right: 15px" class="btn btn-primary"><span aria-hidden="true">&laquo;</span>&nbsp;首页</button></a>
            <a id="pre" th:href="@{/myform(page=${page.getPrePage()})}"><button  style="margin-right: 230px" class="btn btn-primary"><span aria-hidden="true">&laquo;</span>&nbsp;上一页</button></a>
            <span style="margin-right: 230px;font-size: 18px;color: #FFFFFF" th:if="${page.getPages() > 0}" th:text="'当前第' + ${page.getPageNum()} + '/' + ${page.getPages()} + '页'"></span>
            <span style="margin-right: 200px;font-size: 18px;color: #FFFFFF" th:if="${page.getPages() == 0}" th:text="您没有发布的表单"></span>
            <a id="next" th:href="@{/myform(page=${page.getNextPage()})}"><button  style="margin-right: 15px" class="btn btn-primary">下一页&nbsp;<span aria-hidden="true">&raquo;</span></button></a>
            <a th:href="@{/myform(page=${page.getLastPage()})}"><button class="btn btn-primary">尾页&nbsp;<span aria-hidden="true">&raquo;</span></button></a>
        </div>



</div>
<div class="main_nav_bottom">
    <nav  class="navbar navbar-inverse navbar-fixed-bottom">
        <div  class="container" align="center">
            <style>
                .nav-tabs
                {
                    text-align: center;
                    height: 40px;
                    line-height: 40px;
                }
            </style>
            <ul class="nav nav-tabs nav-tabs-justified">
                <div class="row" align="center">
                    <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><p><a style="text-decoration: none;color: #9d9d9d" href="#">联系作者</a></p></li></div>
                    <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><p>© <span id="year"></span> habitdiary.cn</p></li></div>
                    <div class="col-md-4 col-sm-4 col-xs-4" align="center"><li><p>浙ICP备17004687号</p></li></div>
                </div>
            </ul>
        </div>
    </nav>
</div>




<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

<script>
    //关闭click.bs.dropdown.data-api事件，使顶级菜单可点击
    $(document).off('click.bs.dropdown.data-api');
    //自动展开
    $('.nav .dropdown').mouseenter(function(){
        $(this).addClass('open');
    });
    //自动关闭
    $('.nav .dropdown').mouseleave(function(){
        $(this).removeClass('open');
    });

    var mydate = new Date();
    $('#year').text(mydate.getFullYear());


    $(document).ready(function () {
            var now = new Date().getTime();
            for(var i = 0;i < $("#pagesize").text();i++) {
               var bg =  new Date($(".begintime").eq(i).text()).getTime();
               var ed =  new Date($(".endtime").eq(i).text()).getTime();
               var st = $(".formstatus").eq(i).text();
               if(now < bg){
                        $(".formstatus").eq(i).text("未开始");
                        $(".formstatus").eq(i).parent().addClass("info");
                        $(".op").eq(i).children().eq(0).hide();

               }else if(now <= ed) {
                    if(st == '0'){
                        $(".formstatus").eq(i).text("进行中");
                        $(".op").eq(i).children().eq(0).children().eq(0).text("暂停");
                        $(".op").eq(i).children().eq(0).children().eq(0).addClass("btn btn-warning");
                        $(".formstatus").eq(i).parent().addClass("success");
                    }else {
                        $(".formstatus").eq(i).text("已暂停");
                        $(".op").eq(i).children().eq(0).children().eq(0).text("继续");
                        $(".op").eq(i).children().eq(0).children().eq(0).addClass("btn btn-success");
                        $(".formstatus").eq(i).parent().addClass("danger");
                    }
               }else {
                   $(".formstatus").eq(i).text("已结束");
                   $(".formstatus").eq(i).parent().addClass("active");
                   $(".op").eq(i).children().eq(0).hide();
               }
            }
            if($("#pagenum").text() == $("#lastnum").text()) {
                $("#next").attr("href","#");
            }
             if($("#pagenum").text() == "1") {
                $("#pre").attr("href","#");
            }



    })
</script>
</html>